    background{color: #d7d8c3;}


.nav {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-bottom-width: 10px;
    background-color: #ccc;
}

.link{ 
text-decoration: none; background-color: gold 
 }


.text {
    width: 60%;
    font-size: 14px;
    margin-bottom: 30px;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 50px;
}

  
  .logo {
    width: 40px;
    height: 40px;
  }

  .list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }


  .text2 {
  background-color: #378e20;
  border-radius:-30px;
  width: 40%;
  height: 200px;
  overflow: auto;
 
  }
  
  body {color: red;}
 body [class]{color: black;}