body {
    background-image: url(1.jpg);
    background-size: 100%;
}

.pa {
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    color: #fff;
}

input{
    outline: none;
    height: 20px;
    width: 50%;
    margin-left: 380px;
}
