body{
    background-image: url(images.jpeg);
    background-repeat:no-repeat  ;
    background-size: cover;               
}

h1{
  text-align: center;
  color: rgb(48, 38, 38) ;

}
input{
    outline: none;
}

