nav ul li
           { 
               display: inline; font-style: italic; color: black; padding: 10px; margin: 10px; background-size: 90px;
           }
          a:hover
          { 
              font-size: 30px; color: #00f
          }
          nav
          {
              background-color: #ddd;
              width: 100%;
              height: 50px;
              padding: 10px;
          }
          i{
              padding: 20px;
              margin: 15px;
              background-color: #090;
              border-radius: 50%;
              font-size: 60px;
          }

          div p{
              font-size: 30px;
              width: 40%;
              height: 200px;
              overflow: auto;
          }
         div::before{
            content: "read more";
            color:#00f;;
            background-color: #d0d0d0;
         }