ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3498db;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #1116;
  }

  #more {
      display: none;}

  #p1{
      color: blue;
  }    
  h2{
      color: brown;
  }
  div{

      background-color: #1abc9c;
  width: 300px;
  height: 200px;
  overflow: hidden;
  }
  a{
   color: brown;
  }
